.para {
color:black;
background-color: #f2f2f2;
width: 700px;
border: black;
padding: 5px;
border-color: black;
border-width: 10px;
border: 5px solid black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
}

.main2 {
    color: yellowgreen ;
    border: 5px solid black;
    width: 300px;
    height: 150px;
   align-items: center;
   background-color: black;

}
.main2 :hover {

    box-shadow: 0 0 20px cyan, 0 0 40px cyan, 0 0 60px cyan;

}